.hero {
  background-color: $hero-background-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: $hero-title-font-weight;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $dark-main-color;
}

.hero__container-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.hero__overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-img.jpg);
  background-size: cover;
  background-position: center;
}

.hero__button {
  padding: 10px 32px;
}
