.nav-list {
  display: flex;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding: 32px 0px 32px;
  font-weight: $average-font-weight;
  letter-spacing: 0.02em;
  color: $main-color;
  @include transition(color);

  &--active,
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-list__link::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: $accent-color;
  opacity: 0;
  @include transition(opacity);

  .nav-list__link--active &,
  .nav-list__link:hover &,
  .nav-list__link:focus & {
    opacity: 1;
  }
}
