/* Контейнер для позиционирования */

.container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;

  &--vertical {
    flex-direction: column;
  }
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
