/* Контейнер для позиционирования */

.container {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;

  &--vertical {
    flex-direction: column;
  }
}
