// заголовок секций work, team, customers

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: $bolt-font-weight;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
